<br>
<br>
<br>
<!--Style class creates a shadow gradient under texts-->
<style>
  h1 {
      color: white;
      text-shadow: 2px 2px 4px #000000;
  }
  h3 {
      color: white;
      text-shadow: 2px 2px 4px #000000;
  }
</style>
<!--container of product-->
<div align="center">
  <!--Object card that contains Product's data-->
<div class="card bg-dark text-white" *ngIf="product" style="max-width: 50rem;">
  <!--Productimage of Product-->
  <img class="card-img" src="http://localhost:3000/{{product.productImage}}" alt="Card image">
  <div class="card-img-overlay">
    <!--Name of Product-->
    <h1 style=font-size:160px align="left">{{product.name}}</h1>
    <br>
    <h3 align="left">Description:</h3>
    <!--Description of Product-->
    <h3 align="left">{{product.description}}</h3>
    <br>
    <br>
    <h1 align="left">{{product.votes}} votes</h1>
    <br>
    <br>
    <br>
    <!--event Click="vote this product" increases votes by 1 from selected product-->
    <a class="btn btn-primary" (click)="voteThisProduct(product)">Vote</a>
    <!--Button Route to the /editproduct page-->
    <a class="btn btn-success" href="/editproduct/{{product._id}}">Edit</a>
  </div>
</div>
</div>
  